[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
dash = "==0.26.3"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"
dash-table-experiments = "*"
flask = "*"
plotly = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
numpy = "*"
sklearn = "*"
scikit-learn = "==0.18.1"
rq = "*"
"boto3" = "*"

[requires]
python_version = "3.6"
